version: "3.9"

services:
  global_button:
    build: ./global_button
    container_name: global_button
    ports:
      - "3001:3001"
    networks:
      - selfhosted_network

  cool_backend:
    build: ./cool_backend
    container_name: cool_backend
    ports:
      - "8080:8080"
    networks:
      - selfhosted_network

  main:
    build: ./main
    container_name: main
    ports:
      - "3000:3000"
    networks:
      - selfhosted_network

  solid:
    build: ./solid
    container_name: solid
    ports:
      - "3002:3002"
    networks:
      - selfhosted_network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8321:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - main
      - solid
      - global_button
      - cool_backend
    networks:
      - selfhosted_network

networks:
  selfhosted_network:
    driver: bridge
