@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
}
:root {
  --text: #f4efed;
  --background: #16100e;
  --primary: #c8b0a6;
  --secondary: #526840;
  --accent: #6ca268;
}
body {
  display: flex;
  justify-content: center;
  color: var(--text);
  background-color: var(--background);
}
